	<style>
	.ui-autocomplete-category {
		font-weight: bold;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
	}
	</style>

<div class="wrap">

    <h2>Créer votre liste</h2>

    <form action="{{ action }}" method="post">

        <table class="form-table">

            <tr valign="top">
                <th scope="row">{{ 'Description' | trans }}</th>
                <td>
                    <input type="text" id="agenda-name" name="agenda[name]" />
                    <span class="description">{{ "Petite description de votre widget." | trans }}</span>
                </td>
            </tr>

            <tr valign="top">
                <th scope="row">{{ 'Recherche' | trans }}<span class="required">*</span></th>
                <td>
                    <input type="text" id="agenda-search" name="agenda[search]" />
                    <span class="description">{{ "Recherchez le nom d'un casino, le nom du salle en ligne ou le nom d'une série de tournois" | trans }}</span>
                </td>
            </tr>

            <tr valign="top">
                <th scope="row">{{ 'Nombre max. de résultats' | trans }}</th>
                <td>
                    <input type="text" id="agenda-max" name="agenda[max]" />
                    <span class="description">{{ "Combien de résultats voulez vous afficher ?" | trans }}</span>
                </td>
            </tr>
<!--
            <tr valign="top">
                <th scope="row">{{ 'Colonnes à afficher' | trans }}</th>
                <td>
                    <span class="description">{{ "Quelles colonnes souhaitez vous afficher ?" | trans }}</span><br />
                    <input type="checkbox" checked="checked" name="agenda[columns][]" value="logo" id="agenda-column-logo" />
                    <label for="agenda-column-logo">{{ "Logo" | trans }}</label><br />
                    <input type="checkbox" checked="checked" name="agenda[columns][]" value="date" id="agenda-column-date" />
                    <label for="agenda-column-date">{{ "Date" | trans }}</label><br />
                    <input type="checkbox" checked="checked" name="agenda[columns][]" value="label" id="agenda-column-label" />
                    <label for="agenda-column-label">{{ "Label" | trans }}</label><br />
                    <input type="checkbox" checked="checked" name="agenda[columns][]" value="buyin" id="agenda-column-buyin" />
                    <label for="agenda-column-buyin">{{ "Buyin" | trans }}</label><br />
                    <input type="checkbox" checked="checked" name="agenda[columns][]" value="detail" id="agenda-column-detail" />
                    <label for="agenda-column-detail">{{ "Lien vers le détail" | trans }}</label><br />
                </td>
            </tr>
-->
        </table>

        <input type="hidden" id="agenda-remote_id" name="agenda[remote_id]" value="" />
        <input type="hidden" id="agenda-type" name="agenda[type]" value="" />
        
        <p class="submit">
            <input type="submit" class="button-primary" value="{{ 'Save Changes' | trans }}" />
        </p>

    </form>
    
    <table class="widefat">
        <thead>
            <tr>
                <th>{{ "Nom" | trans }}</th>
                <th>{{ "Type" | trans }}</th>
                <th>{{ "Code" | trans }}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{{ "Nom" | trans }}</th>
                <th>{{ "Type" | trans }}</th>
                <th>{{ "Code" | trans }}</th>
            </tr>
        </tfoot>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.type }}</td>
                <td>[mypokeragenda id="{{ row.id }}"]</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function wpOnload() {
        jQuery(function($) {
            
            $.widget( "custom.catcomplete", $.ui.autocomplete, {
                _renderMenu: function( ul, items ) {
                    var self = this,
                    currentCategory = "";
                    $.each( items, function( index, item ) {
                        if ( item.type != currentCategory ) {
                            ul.append( "<li class='ui-autocomplete-category'>" + item.type + "</li>" );
                            currentCategory = item.type;
                        }
                        self._renderItem( ul, item );
                    });
                }
            });
            
            var availableTags = {{ parser.all | json_encode | raw }};
            
            $("#agenda-search").catcomplete({
                source: availableTags,
                select: function(event, ui) {
                    $("#agenda-search").val(ui.item.label);
                    $("#agenda-remote_id").val(ui.item.id);
                    $("#agenda-type").val(ui.item.type);
                    
                    return false;
                }
            });
        });
    }
</script>